# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Datasets (add exceptions if needed)
*.csv

# Packages / environments
packages/
venv/
env/

# OS files
.DS_Store
Thumbs.db




# notes to be excluded
Group1 data preprocessing notes.md

CS-471 Machine Learning fully updated 2025.md
Group2_Regression_Notes.MD
Group3_Classification_Notes.md
SVM_Theory_Notes